<h1>This is your user account</h1>
<form action="/users/{{user.id}}/account" method="post">
  <input type="text" name="email" id="email" placeholder="{{user.email}}" />
  <input type="text" name="firstName" id="firstName" placeholder="firstName" />
  <input type="text" name="lastName" id="lastName" placeholder="lastName" />
  <button type="submit">Save Settings</button>
</form>