<div class="header">
  <h1 class="text-primary"> Create an Event!</h1>

</div>
<form class="px-4 py-3" action="/users/create-event" method="POST">

  <div class="form-group">
    <label for="input-title">Title</label>
    <input
      type="text"
      class="form-control"
      id="input-title"
      placeholder="Title"
      name="title"
    />
  </div>
  <div class="form-group">
    <label for="input-startDate">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="input-startDate"
      placeholder="startDate"
      name="startDate"
    />
  </div>
  <div class="form-group">
    <label for="input-description">Description</label>
    <input
      type="text"
      class="form-control"
      id="input-description"
      placeholder="description"
      name="description"
    />
  </div>
  <div class="form-group">
    <label for="input-duration">Duration</label>
    <input
      type="number"
      class="form-control"
      id="input-duration"
      placeholder="duration"
      name="duration"
    />
  </div>
  <div class="form-group">
    <label for="input-addressName">Address name</label>
    <input
      type="text"
      class="form-control"
      id="input-addressName"
      placeholder="address name"
      name="addressName"
    />
  </div>
  <div class="form-group">
    <label for="input-streetName">Street Name</label>
    <input
      type="text"
      class="form-control"
      id="input-streetName"
      placeholder="Street Name"
      name="streetName"
    />
  </div>
  <div class="form-group">
    <label for="input-streetNumber">Street Number</label>
    <input
      type="number"
      class="form-control"
      id="input-streetNumber"
      placeholder="Street Number"
      name="streetNumber"
    />
  </div>
  <div class="form-group">
    <label for="input-postalCode">Postal Code</label>
    <input
      type="text"
      class="form-control"
      id="input-postalCode"
      placeholder="Postal Code"
      name="postalCode"
    />
  </div>
  <div class="form-group">
    <label for="input-city">City</label>
    <input
      type="text"
      class="form-control"
      id="input-city"
      placeholder="Country"
      name="city"
    />
  </div>
  <div class="form-group">
    <label for="input-country">Country</label>
    <input
      type="text"
      class="form-control"
      id="input-country"
      placeholder="Country"
      name="country"
    />
  </div>

  <button type="submit" class="btn btn-primary">Create!</button>
  <a href="/users/{{user.id}}" class="btn btn-primary">Go Back!</a>
</form>