body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px !important;
}

a {
  color: #00b7ff;
}

.header {
  text-align: center;
  margin: 30px;
}

.event-box {
  border: 1px solid black;
  padding: 15px 0px 15px 5px;
  margin: 10px 0px 20px 0px;
  box-shadow: 5px 5px 7px 1px rgba(3, 123, 255, 0.5);
}
.alerta {
  border: 1px solid black!;
  border-radius: 1px!;
  box-shadow: 5px 5px 7px 1px rgba(255, 0, 0, 0.5);
}
.valid-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
#valid {
  width: 80vw;
}

.profile-picture {
  width: 40px;
  height: 80px;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index__container {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
